body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.responsive{
    overflow-x:auto;
    scrollbar-color: #f4f4f5 #f3f4f5 ;
    scrollbar-width: thin;
}

.overflow-x-auto::-webkit-scrollbar{
  display: none;
}